:root {
  --background-color: #1c223a;
  --card-dark-blue: #293251;
  --primary-blue: #4a80f0;
  --text-primary: #ffffff;
  --text-secondary: #a3a8b8;
  --font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-primary);
}